[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
lxml = ">=4.9.1"
cairocffi = ">1.7.0"
libgutenberg = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = ">=3.7"
