[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
cairocffi = "==0.8.0"
libgutenberg = {editable = true, path = "."}
lxml = ">=4.9.1"

[dev-packages]

[requires]
python_version = ">=3.7"
