[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
libgutenberg = {editable = true, path = "."}
pycountry = "*"
lxml = ">=4.6.5"
psycopg2-binary = "*"

[requires]
python_version = "3.8"
